{% extends 'layouts/base.html' %}



{% block content %}
    <h1>Statistiques</h1>

    <a href="#" >Telecharger</a>

    <div class="statistics">
        <div class="row mt-6">
            <!-- Pourcentage des tâches réalisées par chaque intervenant -->
            <div class="col-md-6" id="intervenant-chart">
                {{ intervenant_chart|safe }}
            </div>
            <!-- Affichage du pie chart -->
            <div class="col-md-6" id="taches-chart">
                {{ taches_chart|safe }}
            </div>
        </div>
    </div>

   

{% endblock %}


